@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(200, 241, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#play {
    width: 50px;
    background: rgb(136 214 241);
    height: 33px;
    border: 2px solid rgb(0 0 150);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

nav {
    display: flex;
    gap: 20px;
}

#barra {
    background: #FFF;
    width: 400px;
    height: 25px;
    border: 1px solid #666;
    padding: 3px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

#progreso {
    position: absolute;
    width: 0px;
    height: 25px;
    background: rgba(0, 0, 150, 2);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}